In [3]:
%pip install -r requirements.txt

Requirement already satisfied: ipykernel in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 1)) (6.30.0)
Requirement already satisfied: numpy in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 2)) (1.26.4)
Requirement already satisfied: streamlit in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 3)) (1.47.1)
Requirement already satisfied: pandas in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 4)) (2.3.1)
Requirement already satisfied: matplotlib in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 5)) (3.10.3)
Requirement already satisfied: seaborn in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 6)) (0.13.2)
Requirement already satisfied: scikit-learn in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 7)) (1.7.1)
Requirement already satisfied: flask in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 8)) (3.1.1)
Requirement already satisfied: memory_profiler in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 9)) (0.61.0)
Requirement already satisfied: nltk in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 10)) (3.9.1)
Requirement already satisfied: gensim in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 11)) (4.3.3)
Requirement already satisfied: tensorflow in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from -r requirements.txt (line 12)) (2.19.0)
Requirement already satisfied: comm>=0.1.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (0.2.3)
Requirement already satisfied: debugpy>=1.6.5 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (1.8.15)
Requirement already satisfied: ipython>=7.23.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (9.4.0)
Requirement already satisfied: jupyter-client>=8.0.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (8.6.3)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (5.8.1)
Requirement already satisfied: matplotlib-inline>=0.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (0.1.7)
Requirement already satisfied: nest-asyncio>=1.4 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (1.6.0)
Requirement already satisfied: packaging>=22 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (25.0)
Requirement already satisfied: psutil>=5.7 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (7.0.0)
Requirement already satisfied: pyzmq>=25 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (27.0.0)
Requirement already satisfied: tornado>=6.2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (6.5.1)
Requirement already satisfied: traitlets>=5.4.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipykernel->-r requirements.txt (line 1)) (5.14.3)
Requirement already satisfied: altair<6,>=4.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (5.5.0)
Requirement already satisfied: blinker<2,>=1.5.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (1.9.0)
Requirement already satisfied: cachetools<7,>=4.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (6.1.0)
Requirement already satisfied: click<9,>=7.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (8.2.1)
Requirement already satisfied: pillow<12,>=7.1.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (11.3.0)
Requirement already satisfied: protobuf<7,>=3.20 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (5.29.5)
Requirement already satisfied: pyarrow>=7.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (21.0.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (2.32.4)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (9.1.2)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.4.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (4.14.1)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (6.0.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (3.1.45)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from streamlit->-r requirements.txt (line 3)) (0.9.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from pandas->-r requirements.txt (line 4)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from pandas->-r requirements.txt (line 4)) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from pandas->-r requirements.txt (line 4)) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from matplotlib->-r requirements.txt (line 5)) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from matplotlib->-r requirements.txt (line 5)) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from matplotlib->-r requirements.txt (line 5)) (4.59.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from matplotlib->-r requirements.txt (line 5)) (1.4.8)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from matplotlib->-r requirements.txt (line 5)) (3.2.3)
Requirement already satisfied: scipy>=1.8.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from scikit-learn->-r requirements.txt (line 7)) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from scikit-learn->-r requirements.txt (line 7)) (1.5.1)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from scikit-learn->-r requirements.txt (line 7)) (3.6.0)
Requirement already satisfied: itsdangerous>=2.2.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from flask->-r requirements.txt (line 8)) (2.2.0)
Requirement already satisfied: jinja2>=3.1.2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from flask->-r requirements.txt (line 8)) (3.1.6)
Requirement already satisfied: markupsafe>=2.1.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from flask->-r requirements.txt (line 8)) (3.0.2)
Requirement already satisfied: werkzeug>=3.1.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from flask->-r requirements.txt (line 8)) (3.1.3)
Requirement already satisfied: regex>=2021.8.3 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from nltk->-r requirements.txt (line 10)) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from nltk->-r requirements.txt (line 10)) (4.67.1)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from gensim->-r requirements.txt (line 11)) (7.3.0.post1)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (2.3.1)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (3.4.0)
Requirement already satisfied: setuptools in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (80.9.0)
Requirement already satisfied: six>=1.12.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (3.1.0)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (1.74.0)
Requirement already satisfied: tensorboard~=2.19.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (2.19.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (3.10.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (3.14.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorflow->-r requirements.txt (line 12)) (0.5.1)
Requirement already satisfied: jsonschema>=3.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 3)) (4.25.0)
Requirement already satisfied: narwhals>=1.14.2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 3)) (1.48.1)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from astunparse>=1.6.0->tensorflow->-r requirements.txt (line 12)) (0.45.1)
Requirement already satisfied: colorama in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 3)) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 3)) (4.0.12)
Requirement already satisfied: decorator in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.19.2)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (3.0.51)
Requirement already satisfied: pygments>=2.4.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (2.19.2)
Requirement already satisfied: stack_data in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from ipython>=7.23.1->ipykernel->-r requirements.txt (line 1)) (0.6.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->-r requirements.txt (line 1)) (4.3.8)
Requirement already satisfied: pywin32>=300 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from jupyter-core!=5.0.*,>=4.12->ipykernel->-r requirements.txt (line 1)) (311)
Requirement already satisfied: rich in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 12)) (14.1.0)
Requirement already satisfied: namex in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 12)) (0.1.0)
Requirement already satisfied: optree in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 12)) (0.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 3)) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 3)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 3)) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from requests<3,>=2.27->streamlit->-r requirements.txt (line 3)) (2025.7.14)
Requirement already satisfied: markdown>=2.6.8 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorboard~=2.19.0->tensorflow->-r requirements.txt (line 12)) (3.8.2)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\abdul rahim\onedrive\documents\machine learning\genaicourse\bankstay\.venv2\lib\site-packages (from tensorboard~=2.19.0->tensorflow->-r requirements.txt (line 12)) (0.7.2)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [5]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data = data.drop(['RowNumber','CustomerId','Surname'],axis =1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [8]:
from sklearn.preprocessing import OneHotEncoder
one_hot_encoder_geo = OneHotEncoder()
geo_encoder = one_hot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [9]:
one_hot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [10]:

geo_encoder_df = pd.DataFrame(geo_encoder,columns =one_hot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [11]:
#combine all columns and replace with original column
data = pd.concat([data.drop('Geography',axis = 1),geo_encoder_df],axis = 1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [12]:
##save the encoder

with open("label_encoder.pkl","wb") as file:
    pickle.dump(label_encoder_gender,file)
with open("one_hot_encoder_geo.pkl","wb") as file:
    pickle.dump(one_hot_encoder_geo,file)

In [13]:
X  = data.drop('Exited',axis= 1)
Y = data['Exited']

X_train,X_test,Y_train,Y_test =train_test_split(X,Y,test_size=0.2,random_state = 42) 

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [15]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [16]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

### ANN Implementation

In [17]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [18]:
##Builds model

model = Sequential(
    [
          Dense(64,activation = 'relu',input_shape = (X_train.shape[1],)),
          Dense(32,activation = "relu"),
          Dense(1,activation = 'sigmoid')
    ]
)

c:\Users\Abdul Rahim\OneDrive\Documents\MACHINE LEARNING\GenAICourse\BankStay\.venv2\Lib\site-packages\keras\src\layers\core\dense.py:93: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [19]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 64)             │           832 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 32)             │         2,080 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            33 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
import tensorflow
opt = tensorflow.keras.optimizers.Adam(learning_rate = 0.01)
loss = tensorflow.keras.losses.BinaryCrossentropy()
loss

In [21]:
model.compile(optimizer = opt,loss=loss,metrics = ['accuracy'])

In [22]:
##Setup the tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
log_dir = "logs/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [23]:
##Setup Early Stopping
early_stopping_callback = EarlyStopping(monitor ='val_loss',patience = 5,restore_best_weights=True)

In [24]:
##Train the Model
history = model.fit(X_train,Y_train,validation_data=(X_test,Y_test),epochs = 100,
                    callbacks = [tensorflow_callback,early_stopping_callback])

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - accuracy: 0.8215 - loss: 0.4281 - val_accuracy: 0.8360 - val_loss: 0.3762
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8463 - loss: 0.3652 - val_accuracy: 0.8615 - val_loss: 0.3525
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8560 - loss: 0.3451 - val_accuracy: 0.8525 - val_loss: 0.3791
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8579 - loss: 0.3464 - val_accuracy: 0.8555 - val_loss: 0.3572
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8641 - loss: 0.3398 - val_accuracy: 0.8650 - val_loss: 0.3367
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3379 - val_accuracy: 0.8560 - val_loss: 0.3508
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8701 - loss: 0.3295 - val_accuracy: 0.8580 - val_loss: 0.3489
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8634 - loss: 0.3332 - val_accuracy: 0.8575 - val_loss: 0.3381
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8683 - loss: 0.3203 - val_accuracy: 0.8555 - val_loss: 0.3471
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8671 - loss: 0.3216 - val_accuracy: 0.8575 - val_loss: 0.3500

In [25]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [26]:
##load Tensorboard
%reload_ext tensorboard

In [29]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 19836), started 19:39:29 ago. (Use '!kill 19836' to kill it.)